<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/3977e242-077a-47df-bb42-6d35060e6a1c/resourceGroups/VisionCarSVA/providers/Microsoft.Web/sites/VisionCarAPP</ResourceId>
    <ResourceGroup>VisionCarSVA</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://visioncarapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>c8910d5e-7901-4ceb-98ab-46d47e8c3566</ProjectGuid>
    <PublishUrl>https://visioncarapp.scm.azurewebsites.net/</PublishUrl>
    <UserName>$VisionCarAPP</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>